<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <!-- 引入公共导航模板 -->
    <% include ../public/nav.ejs %>

    <h1>Webcome To 蓝鸥课堂!</h1>
    <p>This will be the best website!!</p>
</body>
</html>