<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <% include ../gongban/navBar.ejs %>
    <h1>Welcome to Lanou!</h1>
    <p>This will be the best website of the world!</p>
</body>
</html>